<!-- Header -->
<div class="ui main text container">
    <h1 class="ui header">HTML Header</h1>
    <table class="ui basic table">
        <!-- <tr class=""> -->
        <!-- <th class="">Tag</th> -->
        <!-- <th class="">Content</th> -->
        <!-- <th class="">Length</th> -->
        <!-- <th class="">Message</th> -->
        <!-- </tr> -->

        <thead class="">
            <tr class="positive">
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <td>Title Tag</td>
                <td class="right aligned">Length: 100</td>
            </tr>
        </thead>
        <tr class="">
            <td class=""><strong>Content</strong></td>
            <td class="" colspan="2">Central Vacuums, Commercial Vacuums, and Household Vacuum Cleaners | ThinkVacuums.com is your Vacuum</td>
        </tr>
        <tr class="">
            <td class=""><strong>Keyword</strong></td>
            <td class="" colspan="2">Contains all the keywords!</td>
        </tr>
        <tr class="">
            <td class=""><strong>Comments</strong></td>
            <td class="" colspan="2">Looks good!</td>
        </tr>

        </tbody>
    </table>

    <table class="ui basic table">
        <!-- <thead class="">
              <tr class="">
                  <th class="">Tag</th>
                  <th class="">Content</th>
                  <!-- <th class="">Length</th> -->
        <!-- <th class="">Message</th> -->
        <!-- </tr> -->
        <!-- </thead> -->
        <tbody class="">
            <tr class="negative">
                <td class=""><span class="lnr lnr-cross"></span></td>
                <td>Meta Description Tag Content</td>
                <td class="right aligned">Length: 204 (-44)</td>
            </tr>
            <tr class="">
                <td class=""><strong>Content</strong></td>
                <td class="" colspan="2">Shop new products, replacement parts, & accessories for brand name central vacuums, household vacuums, and commercial vacuum cleaners at the best prices from ThinkVacuums.com, your Vacuum Super Store!</td>
            </tr>
            <tr class="">
                <td class=""><strong>Keyword</strong></td>
                <td class="" colspan="2">Contains all the keywords!</td>
            </tr>
            <tr class="">
                <td class=""><strong>Comments</strong></td>
                <td class="" colspan="2">Title Length 204. Your page has a meta description. Ideally though, your meta description should be between 70 and 160 characters (spaces included).</td>
            </tr>

            <!-- <tr class="">
                <td class=""></td>
            </tr>
            <tr class="">
                <td class=""></td>
                <td class=""></td>
            </tr> -->

        </tbody>
    </table>
</div>


<!-- Body Content -->
<div class="ui main text container">
    <h2 class="ui header">Body Content</h2>
    <h1 class="ui header">Header Tags</h1>
    <p>Your website’s main keywords are distributed well across the important HTML Tags of your website.</p>
    <p>HTML Header Tags are an important way of signaling to search engines what your page is about:</p>
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Issues</th>
                <th class=""># Keywords</th>
                <th class="">Type</th>
                <th class="">Message</th>
                <th class="">Content</th>
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">
                    <!-- <i aria-hidden="true" class="close  icon"></i> -->
                    <span class="lnr lnr-cross"></span>
                </td>
                <td class="">3</td>
                <td class="">H1</td>
                <td class="">Missing</td>
                <td class="">http://www.ign.com</td>
            </tr>
            <tr class="">
                <td class="">
                    <!-- <i aria-hidden="true" class="checkmark icon"></i> -->
                    <span class="lnr lnr-checkmark-circle"></span></td>
                <td class="">2</span></td>
                <td class="">H2</td>
                <td class="">Found</td>
                <td class="">http://www.ign.com/d</td>
            </tr>
        </tbody>
        <tfoot class="">
            <tr class="">
                <th class="" colspan="5">3 Issues</th>
                </th>
            </tr>
        </tfoot>
    </table>
    <h1 class="ui header">Keywords</h1>
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Keyword</th>
                <th class="">Content</th>
                <th class="">Title</th>
                <th class="">Description</th>
                <th class="">Headings</th>
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">key</td>
                <td class="">33</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
            </tr>
            <tr class="negative">
                <td class="">word</td>
                <td class="">23</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
            </tr>
        </tbody>
        <!-- <tfoot class="">
            <tr class="">
                <th class="" colspan="5">3 Issues</th>
                </th>
            </tr>
        </tfoot> -->
    </table>


<!--
Inline Styles
Embeded Javascript
Emebed Styles
Html / Text Ratio
-->

    <h1 class="ui header">HTML Content</h1>
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Description</th>
                <th class="">Issues</th>
                <!-- <th class="">Title</th>
                <th class="">Description</th>
                <th class="">Headings</th> -->
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">Has Inline Styles</td>
                <!-- <td class="">33</td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
            </tr>
            <tr class="negative">
                <td class="">Has embedded Javscript</td>
                <!-- <td class="">23</td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">Hash embedded Styles</td>
                <!-- <td class="">23</td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">Text To Html Ratio</td>
                <!-- <td class="">23</td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
        </tbody>
        <!-- <tfoot class="">
            <tr class="">
                <th class="" colspan="5">3 Issues</th>
                </th>
            </tr>
        </tfoot> -->
    </table>


    <h1 class="ui header">HTML Optimization</h1>
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Description</th>
                <th class=""></th>
                <th class="">Issues</th>
                <!-- <th class="">Title</th>
                <th class="">Headings</th> -->
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">Has Inline Styles</td>
                <!-- <td class="">33</td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <td class="">Yes</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
            </tr>
            <tr class="negative">
                <td class="">Has embedded Javscript</td>
                <td class="">Yes</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">Hash embedded Styles</td>
                <td class="">Yes</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">Text To Html Ratio</td>
                <!-- <td class="">23</td> -->
                <td class="">2%</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">URLs have parameters</td>
                <!-- <td class="">23</td> -->
                <td class="">Yes</td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
            <tr class="negative">
                <td class="">Missing Alt Tags</td>
                <!-- <td class="">23</td> -->
                <td class="">0</span></td>
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
        </tbody>
        <!-- <tfoot class="">
            <tr class="">
                <th class="" colspan="5">3 Issues</th>
                </th>
            </tr>
        </tfoot> -->
    </table>



    <h1 class="ui header">Crawlers</h1>
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Description</th>
                <!-- <th class="">Count</th> -->
                <th class="">Issues</th>
                <!-- <th class="">Title</th>
                <th class="">Description</th>
                <th class="">Headings</th> -->
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">sitemap.xml</td>
                <!-- <td class="">33</td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""></span></td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
            </tr>
            <tr class="negative">
                <td class="">robots.txt</td>
                <!-- <td class="">23</td> -->
                <!-- <td class=""></span></td> -->
                <td class=""><span class="lnr lnr-checkmark-circle"></span></td>
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
            </tr>
        </tbody>
        <!-- <tfoot class="">
            <tr class="">
                <th class="" colspan="5">3 Issues</th>
                </th>
            </tr>
        </tfoot> -->
    </table>








        <h1 class="ui header">Page Size INfo</h1>
        <table class="ui single line table">
            <thead class="">
                <tr class="">
                    <th class="">Resource Typpe</th>
                    <th class="">Count</th>
                    <th class="">Size</th>
                    <!-- <th class="">Title</th>
                    <th class="">Description</th>
                    <th class="">Headings</th> -->
                </tr>
            </thead>
            <tbody class="">
                <tr class="negative">
                    <td class="">CSS</td>
                    <!-- <td class="">33</td> -->
                    <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                    <td class="">2</span></td>
                    <td class="">2.3</span></td>
                </tr>
                <tr class="negative">
                  <td class="">JS</td>
                  <!-- <td class="">33</td> -->
                  <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                  <td class="">2</span></td>
                  <td class="">2.3</span></td>
                </tr>
                <tr class="negative">
                  <td class="">HTML</td>
                  <!-- <td class="">33</td> -->
                  <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                  <td class="">2</span></td>
                  <td class="">2.3</span></td>
                </tr>
                <tr class="negative">
                  <td class="">Images</td>
                  <!-- <td class="">33</td> -->
                  <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                  <td class="">2</span></td>
                  <td class="">2.3</span></td>
                </tr>
                <tr class="negative">
                  <td class="">Other</td>
                  <!-- <td class="">33</td> -->
                  <!-- <td class=""><span class="lnr lnr-checkmark-circle"></span></td> -->
                  <td class="">2</span></td>
                  <td class="">2.3</span></td>
                </tr>
            </tbody>
            <tfoot class="">
                <tr class="">
                    <th class="" colspan="5">3 Total Hosts</th>
                    </th>
                </tr>
            </tfoot>
        </table>
</div>










<!-- Images -->
<div class="ui main text container">
    <!-- <h2 class="ui header">Body Content</h2> -->
    <h1 class="ui header">Images</h1>
    <!-- <p>Your website’s main keywords are distributed well across the important HTML Tags of your website.</p> -->
    <!-- <p>HTML Header Tags are an important way of signaling to search engines what your page is about:</p> -->
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">URL</th>
                <th class="">Alt</th>
                <th class="">Size</th>
                <th class="">Loaded</th>
                <!-- <th class="">Tag</th> -->
                <th class="">Optimize</th>
                <!-- <th class="">Passing Juice</th> -->
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
              <td class="">http://www.testlin.com/image.jpeg</td>
              <td class="">Image is image</td>
                <td class="">455</td>
                <td class=""><span class="lnr lnr-cross"></span></td>
                <td class=""><span class="lnr lnr-cross"></span></td>
                <!-- <td class="">Click here please!</td> -->
                <!-- <td class="">a</span></td> -->
                <!-- <td class=""><span class="lnr lnr-exit"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-funnel"></span></td> -->
            </tr>
            <tr class="negative">
              <td class="">http://www.testlin.com/image.jpeg</td>
              <td class="">Image is image</td>
                <td class="">455</td>
                <td class=""><span class="lnr lnr-cross"></span></td>
                <td class=""><span class="lnr lnr-cross"></span></td>
                <!-- <td class="">Click here please!</td> -->
                <!-- <td class="">a</span></td> -->
                <!-- <td class=""><span class="lnr lnr-exit"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-funnel"></span></td> -->
            </tr>
        </tbody>
        <tfoot class="">
            <tr class="">
                <th class="" colspan="7">3 Issues</th>
                </th>
            </tr>
        </tfoot>
    </table>
</div>










<!-- Links -->
<div class="ui main text container">
    <!-- <h2 class="ui header">Body Content</h2> -->
    <h1 class="ui header">Links</h1>
    <!-- <p>Your website’s main keywords are distributed well across the important HTML Tags of your website.</p> -->
    <!-- <p>HTML Header Tags are an important way of signaling to search engines what your page is about:</p> -->
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Status</th>
                <th class="">Code</th>
                <th class="">Text</th>
                <th class="">Type</th>
                <!-- <th class="">Tag</th> -->
                <th class="">Url</th>
                <th class="">Passing Juice</th>
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">
                    <!-- <i aria-hidden="true" class="close  icon"></i> -->
                    <span class="lnr lnr-cross"></span>
                </td>
                <td class="">400</td>
                <td class="">Click here please!</td>
                <td class="">http://www.testlin...</td>
                <!-- <td class="">a</span></td> -->
                <td class=""><span class="lnr lnr-exit"></span></td>
                <td class=""><span class="lnr lnr-funnel"></span></td>
            </tr>
            <tr class="">
                <td class="">
                    <!-- <i aria-hidden="true" class="close  icon"></i> -->
                  <span class="lnr lnr-checkmark-circle"></span>
                </td>
                <td class="">200</td>
                <td class="">Works!</td>
                <td class="">http://www.testlink...</td>
                <!-- <td class="">img</td> -->
                <td class=""><span class="lnr lnr-enter"></span></td>
                <td class=""></td>
            </tr>
        </tbody>
        <tfoot class="">
            <tr class="">
                <th class="" colspan="7">3 Issues</th>
                </th>
            </tr>
        </tfoot>
    </table>
</div>





<!-- Resources -->
<div class="ui main text container">
    <!-- <h2 class="ui header">Body Content</h2> -->
    <h1 class="ui header">Resources</h1>
    <!-- <p>Your website’s main keywords are distributed well across the important HTML Tags of your website.</p> -->
    <!-- <p>HTML Header Tags are an important way of signaling to search engines what your page is about:</p> -->
    <table class="ui single line table">
        <thead class="">
            <tr class="">
                <th class="">Status</th>
                <!-- <th class="">Code</th> -->
                <th class="">Link</th>
                <th class="">Type</th>
                <!-- <th class="">Tag</th> -->
                <th class="">Gzip</th>
                <th class="">Cached</th>
                <th class="">Size</th>
                <!-- <th class="">Minified</th> -->
                <!-- <th class="">%</th> -->
            </tr>
        </thead>
        <tbody class="">
            <tr class="negative">
                <td class="">
                    <!-- <i aria-hidden="true" class="close  icon"></i> -->
                    <span class="lnr lnr-cross"></span>
                </td>
                <!-- <td class="">400</td> -->
                <td class="">http://www.cdn.com/scrip...</td>
                <td class="">JS</td>
                <!-- <td class="">script</span></td> -->
                <td class=""><span class="lnr lnr-cross"></span></td>
                <td class=""><span class="lnr lnr-cross"></span></td>
                <!-- <td class=""><span class="lnr lnr-cross"></span></td> -->
                <td class="">4.5MB (-14%)</span></td>
                <!-- <td class=""></span></td> -->
                <!-- <td class=""><span class="lnr lnr-exit"></span></td> -->
                <!-- <td class=""><span class="lnr lnr-funnel"></span></td> -->
            </tr>
            <!-- <tr class="">
                <td class="">
                    <!-- <i aria-hidden="true" class="close  icon"></i> -->
                  <!-- <span class="lnr lnr-checkmark-circle"></span> -->
                <!-- </td> -->
                <!-- <td class="">200</td> -->
                <!-- <td class="">Works!</td> -->
                <!-- <td class="">http://www.testlink...</td> -->
                <!-- <td class="">img</td> -->
                <!-- <td class=""><span class="lnr lnr-enter"></span></td> -->
                <!-- <td class=""></td> -->
            <!-- </tr> -->
        </tbody>
        <tfoot class="">
            <tr class="">
                <th class="" colspan="10">3 Issues / 10 Hosts</th>
                </th>
            </tr>
        </tfoot>
    </table>
</div>






<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>







<div class="hidden" style="display:none">


    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="field">
            <label for="image">Image Upload</label>
            <input type="file" name="image" id="image">
        </div>
        <input type="submit" class="btn" value="Save">
    </form>


    <%= JSON.stringify(locals) %>
        <div id="summary">
            <div class="container-fluid">
                <form class="form-horizontal" onsubmit='return submitForm(this)' style="width: 400px;margin: 0 auto;text-align: left;padding:50px;">
                    <div class="form-group hidden">
                        <label>User ID</label>
                        <input class="form-control" type="text" name="uid" value="<%= locals.user.uid %>">
                    </div>
                    <div class="form-group hidden">
                        <label>User OID</label>
                        <input class="form-control" type="text" name="oid" value="<%= locals.user.oid %>">
                    </div>
                    <div class="form-group hidden">
                        <label>User Api Token</label>
                        <input class="form-control" type="text" name="token" value="<%= locals.apiToken %>">
                    </div>
                    <div class="form-group hidden">
                        <label>Group for Scan</label>
                        <input class="form-control" type="text" name="scanGroup" value="default">
                    </div>
                    <div class="form-group hidden">
                        <label>Current Page (For Callback Notifications)</label>
                        <input class="form-control" type="text" name="source" value="<%= locals.path %>">
                    </div>
                    <div class="form-group hidden">
                        <label>Type of Request</label>
                        <input class="form-control" type="text" name="request" value="page:scan">
                    </div>
                    <div class="form-group hidden">
                        <label>Type (?)<!-- Not Sure if need --></label>
                        <input class="form-control" type="text" name="type" value="page:scan">
                    </div>
                    <div class="form-group hidden">
                        <label class="form-check-label">
              <input class="form-check-input" name="save-captures" type="checkbox">
              Save Captures?
            </label>
                    </div>
                    <div class="form-group hidden">
                        <label class="form-check-label">
              <input class="form-check-input" name="check-security" type="checkbox">
              Check Meta Security?
            </label>
                    </div>
                    <div class="form-group hidden">
                        <label class="form-check-label">
              <input class="form-check-input" name="check-meta" type="checkbox">
              Check Meta Data?
            </label>
                    </div>
                    <div class="form-group hidden">
                        <label class="form-check-label">
              <input class="form-check-input" name="check-resources" type="checkbox">
              Check Resources?
            </label>
                    </div>
                    <div class="form-group hidden">
                        <label class="form-check-label">
              <input class="form-check-input" name="check-links" type="checkbox">
              Check Links?
            </label>
                    </div>
                    <div class="form-group">
                        <label>Url To Search</label>
                        <input type="text" name="url" class="form-control" value="">
                    </div>

                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>

                </form>

            </div>

            <div class="container-fluid container-max">
                < % include ../../partials/request-loop %>
            </div>


            <h3>Updates</h3>
            <div class="container-fluid container-max">
                <table class="updates table"></table>
            </div>

            <h3>Scans</h3>
            < %=s cans.list.length %>
                <div class="container-fluid container-max">
                    <table class="scans table">
                        < % for(var i=0; i<scans.list.length; i++) {%>
                            < % if(scans.list[i].url && scans.list[i].url.url){%>
                                <tr class="< %= scans.list[i].requestId %>">
                                    <td>Scan</td>
                                    <td>Url:
                                        < %=s cans.list[i].url.url %>
                                    </td>
                                    <td>Completed :
                                        < %=s cans.list[i].completedTime %>
                                    </td>
                                    <td><button>summary</button><button>resources</button><button>meta</button><button>links</button><button>issues</button><button>security</button></td>
                                </tr>
                                < % } else { %>
                                    <tr>
                                        <td>Request</td>
                                        <td>Url:
                                            < %=scans.list[i].url %>
                                        </td>
                                        <td>Failed:
                                            < %=scans.list[i].failedReason %> Request Time:
                                                < %=scans.list[i].requestDate %>
                                        </td>
                                        <td></td>
                                    </tr>
                                    < % } %>
                                        < % } %>
                    </table>
                </div>

                <h3>User Activity</h3>
                <div class="container-fluid container-max">
                    <table class="activity table">

                        <tr>
                            <td>Requests Today</td>
                            <td>Count:
                                < %=a ctivity[ "request-day-count"] %>
                            </td>
                            <td>Count Refreshed On:
                                < %=a ctivity[ "request-day-reset"] %>
                            </td>
                        </tr>
                        <tr>
                            <td>Requests This Month</td>
                            <td>Count:
                                < %=a ctivity[ "request-month-count"] %>
                            </td>
                            <td>Count Refreshed On:
                                < %=a ctivity[ "request-month-reset"] %>
                            </td>
                        </tr>

                        <!-- <tr><td>Captures Today</td><td>Count:< %= activity["capture-day-count"] %></td><td>Count Refreshed On:< %= activity["capture-day-reset"] %></td></tr>
          <tr><td>Captures This Month</td><td>Count:< %= activity["capture-month-count"] %></td><td>Count Refreshed On:< %= activity["capture-month-reset"] %></td></tr>

          <tr><td>Issues Found Today</td><td>Count:< %= activity["issue-day-count"] %></td><td>Count Refreshed On:< %= activity["issue-day-reset"] %></td></tr>
          <tr><td>Issues Found This Month</td><td>Count:< %= activity["issue-month-count"] %></td><td>Count Refreshed On:< %= activity["issue-month-reset"] %></td></tr>

          <tr><td>Resources Found Today</td><td>Count:< %= activity["resource-day-count"] %></td><td>Count Refreshed On:< %= activity["resource-day-reset"] %></td></tr>
          <tr><td>Resources Found This Month</td><td>Count:< %= activity["resource-month-count"] %></td><td>Count Refreshed On:< %= activity["resource-month-reset"] %></td></tr>

          <tr><td>Links Found Today</td><td>Count:< %= activity["link-day-count"] %></td><td>Count Refreshed On:< %= activity["link-day-reset"] %></td></tr>
          <tr><td>Links Found This Month</td><td>Count:< %= activity["link-month-count"] %></td><td>Count Refreshed On:< %= activity["link-month-reset"] %></td></tr>

          <tr><td>Sites Found Today</td><td>Count:< %= activity["site-day-count"] %></td><td>Count Refreshed On:< %= activity["site-day-reset"] %></td></tr>
          <tr><td>Sites Found This Month</td><td>Count:< %= activity["site-month-count"] %></td><td>Count Refreshed On:< %= activity["site-month-reset"] %></td></tr>

          <tr><td>Pages Found Today</td><td>Count:< %= activity["page-day-count"] %></td><td>Count Refreshed On:< %= activity["page-day-reset"] %></td></tr>
          <tr><td>Pages Found This Month</td><td>Count:< %= activity["page-month-count"] %></td><td>Count Refreshed On:< %= activity["page-month-reset"] %></td></tr> -->

                        <!-- <tr><td>Pages Found All Time</td><td>Count:< %= activity["page-all-count"] %></td><td></td></tr>
          <tr><td>Sites Found All Time</td><td>Count:< %= activity["site-all-count"] %></td><td></td></tr>
          <tr><td>Links Found All Time</td><td>Count:< %= activity["link-all-count"] %></td><td></td></tr>
          <tr><td>Resource Found All Time</td><td>Count:< %= activity["resource-all-count"] %></td><td></td></tr>
          <tr><td>Issues Found All Time</td><td>Count:< %= activity["issue-all-count"] %></td><td></td></tr> -->

                    </table>
                </div>
                <h3>User Permission</h3>
                <div class="container-fluid container-max">
                    <table class="activity table">
                        <tr>
                            <td>Daily Request Limit</td>
                            <td>
                                < %=p ermissions.limits.daily.request %>
                            </td>
                        </tr>
                        <tr>
                            <td>Monthly Request Limit</td>
                            <td>
                                < %=p ermissions.limits.monthly.request %>
                            </td>
                        </tr>
                        <!-- <tr><td>Daily Links Limit</td><td>< %= permissions.limits.daily.links %></td></tr>
            <tr><td>Monthly Links Limit</td><td>< %= permissions.limits.monthly.links %></td></tr>
            <tr><td>Daily Pages Limit</td><td>< %= permissions.limits.daily.page %></td></tr>
            <tr><td>Monthly Pages Limit</td><td>< %= permissions.limits.monthly.page %></td></tr>
            <tr><td>Daily Requests Limit</td><td>< %= permissions.limits.daily.requests %></td></tr>
            <tr><td>Monthly Requests Limit</td><td>< %= permissions.limits.monthly.requests %></td></tr>
            <tr><td>Daily Site Limit</td><td>< %= permissions.limits.daily.site %></td></tr>
            <tr><td>Monthly Site Limit</td><td>< %= permissions.limits.monthly.site %></td></tr> -->
                    </table>
                </div>
        </div>
</div>
