<div class="container-fluid container-max">
   <div class="table">
        <div class="col-sm-12">12</div>
        <div class="col-sm-8">
            Large Graphic 
            Here that provides a quick review of
        
< %= requests.list %>
<%= issues.meta %>
<%= issues.resources %>
<%= issues.security %>
<%= issues.links %>
<%= issues.tooManyLinks %>



    <ul>            
        <li>permissions.limits.daily.requests: <%= permissions.limits.daily.requests %></li>
        <li>permissions.limits.daily.page: <%= permissions.limits.daily.page %></li>
        <li>permissions.limits.monthly.requests: <%= permissions.limits.monthly.requests %></li>
        <li>permissions.limits.monthly.page: <%= permissions.limits.monthly.page %></li>
        <li>user.activity.requests.daily: <%= user.activity.requests.daily.count %></li>
        <li>user.activity.captures.daily: <%= user.activity.captures.daily.count %></li>
        <li>user.activity.links.daily: <%= user.activity.links.daily.count %></li>
        <li>user.activity.pages.daily: <%= user.activity.pages.daily.count %></li>
        <li>user.activity.requests.monthly: <%= user.activity.requests.monthly.count %></li>
        <li>user.activity.captures.monthly: <%= user.activity.captures.monthly.count %></li>
        <li>user.activity.links.monthly: <%= user.activity.links.monthly.count %></li>
        <li>user.activity.pages.monthly: <%= user.activity.pages.monthly.count %></li>
    </ul>

<h1>Account Activity</h1>

<h2>Usage</h2>

Requests
800/1000 Monthly Url Requests Made
5/100 Daily Scans Performed
8000/10000 Links Scan Detected
10/100 Captures Taken
37/1000 Saved Scans

8000 Resources Detected

<h2>Issues</h2>
1000 Total Issues
300 Fixed
25 Marked Ignore
37 Meta
890 Broken Links
45 Resource Issues

<h2>Links</h2>
1000 Total Links Found
45 Broken Detected
36 Fixed





        </div>
        <div class="col-sm-4">4</div>
    </div>
</div>




<!-- <h3>Sites Scanned<h3>
35 Sites Scanned
 -->

<!-- 


    "activity": {
        "links": {
            "monthly": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            },
            "daily": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            }
        },
        "sites": {
            "monthly": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            },
            "daily": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            }
        },
        "pages": {
            "monthly": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            },
            "daily": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            }
        },
        "requests": {
            "monthly": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            },
            "daily": {
                "count": 0,
                "refreshed": {
                    "$date": "2017-02-15T22:44:14.274Z"
                }
            }
        } -->