  <div class="container-fluid container-max">
    <div class="page-header">
      <h1>Billing <small>/views/dashboard/billing</small></h1>
    </div>

    <% include flash %>

    <div class="page-header">
      <h3>Subscription</h3>
    </div>

 <form <% if (!locals ||  !locals.user ||  !locals.subscription || !locals.subscription.last4){ %>id="cardForm"<% } %> action="/user/plan" method="POST" class="form-horizontal">
 <% if (locals && locals.user){ %> identity <%= JSON.stringify(locals.user) %> <% } %>
 <% if (locals && locals.subscription){ %> subscription <%= JSON.stringify(locals.subscription) %> <% } %>
 <% if (locals && locals.plans){ %> plans <%= locals.user.uid %> <% } %>
 <% if (!locals && !locals.user){ %> no user <% } %>
    <div class="form-group">
        <label for="plan" class="col-sm-3 control-label">Plan</label>
        <div class="col-sm-4">

        <% _.each(_.keys(locals.plans),function(key){ %>
            <div class="radio">
              <label>
                <input type="radio" <% if (locals && locals.subscription && locals.subscription.plan == key){ %>checked<% } %> name="plan" value="<%= key %>" data-toggle="radio">
                <span><%= locals.plans[key].name %> - $<%= locals.plans[key].price %></span>
              </label>
            </div>
        <% }) %>
        </div>
      </div>


      <% if (!locals || !locals.subscription || !locals.subscription.last4){ %>
      <div id="cardWrapper">
        <div class="form-group">
          <label class="col-sm-3 control-label">Test Card Info</label>
          <div class="col-sm-7">
            <div class="form-control-static">4242424242424242, 11/19, 123 - <a href="https://stripe.com/docs/testing">additional test info</a></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Number</label>
          <div class="col-sm-4">
            <input id="card-num" name="card-num"  type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Card Details</label>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-xs-4">
                <input id="card-month" name="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
              </div>
              <div class="col-xs-4">
                <input id="card-year" name="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
              </div>
              <div class="col-xs-4">
                <input id="card-cvc" name="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <div id="cardFormError" class="alert alert-danger hidden" role="alert">
              <p><%=error%></p>
            </div>
          </div>
        </div>
      </div>

      <% } %>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="btn btn-primary">Update Plan</button>
        </div>
      </div>
  </form>
 <!-- <% if (locals || locals.subscription || locals.subscription.last4){ %> -->
    <div class="page-header">
      <h3>Payment Details</h3>
    </div>

    <form role="form" id="cardForm" action="/user/subscrition/cancel" method="POST" class="form-horizontal">
      <button type="submit" class="btn btn-primary">Cancel Subscription</button>
    </form>



<!-- Cancel



Current Subscription:
Price Frequency:
Next Bill Date:
Cancelled On:
Will Expire On:
Upgrade Options:
  -- Annually
  -- Hire Plan -> Frequency
--------------------
Supplment:
  -- Price
Auto Supplement
-------------------- -->




    <form role="form" id="cardForm" action="/user/subscrition/upgrade" method="POST" class="form-horizontal">
      <button type="submit" class="btn btn-primary">Upgrade Subscription</button>
    </form>

    <form role="form" id="cardForm" action="/user/billing" method="POST" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Test Card Info</label>
        <div class="col-sm-7">
          <div class="form-control-static">4242424242424242, 11/19, 123 - <a href="https://stripe.com/docs/testing">additional test cards</a></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Card Number</label>
        <div class="col-sm-4">
          <input id="card-num" type="text" name="card-num" class="form-control" placeholder="XXXX XXXX XXXX <%= locals.subscription.last4 %>">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Card Details</label>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-xs-4">
              <input id="card-month" name="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
            </div>
            <div class="col-xs-4">
              <input id="card-year" name="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
            </div>
            <div class="col-xs-4">
              <input id="card-cvc" name="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <div id="cardFormError" class="alert alert-danger hidden" role="alert">
            <p><%=error%></p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="btn btn-primary">Update Card</button>
        </div>
      </div>
    </form>
    <!-- <% } %> -->

     <div class="page-header">
      <h3>Delete Account</h3>
    </div>
    <form action="/user/delete" method="POST" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><button type="submit" class="btn btn-danger"><span class="ion-edit"></span>Delete Account</button></div>
      </div>
    </form>





     </form>
</div>
