<div class="row-element loading
    <% if(scan && scan.type && scan.temp_id){ %>
        js_temp_<%= scan.type %>_<%= scan.temp_id %>
    <% } %>
    <% if(scan && scan.type && scan.i_id){ %>
        js_<%= scan.type %>_<%= scan.i_id %>
    <% } %>
    <% if(scan && scan.requestId){ %>
        js_request_<%= scan.requestId %>
    <% } %>
    ">

    <div class="loader-container">
        <div class="loader">
            <span class="jumper one"></span>
            <span class="2jumper two"></span>
            <span class="2jumper three"></span>
        </div>
    </div>
    
    <% if(typeof scan.requestId === 'undefined'){ %>
        <div class="init">
            <span class="js_message <% if(scan && scan.status){ %>
                <%= scan.status %>
            <% } %>">
            <% if(scan && scan.message){ %>
                <%= scan.message %>
            <% } %>
            </span>
        </div>
    <% } %>
    <!-- After Loaded Display Template Is Put Here -->
    <div class="content"></div>
    <span class="js_message"></span>
</div>