


<!--
URL
<%= request.url %> 
<%= request.uid %> 
<%= request.rid %>

<%= request.resolveUrl %>
<%= request.group %>
<%= request.grade.letter %>
<%= request.grade.symbol %>
<%= request.grade.note %>

<%= request.grade.issues.links.count %>
<%= request.grade.issues.meta.count %>
<%= request.grade.issues.security.count %>
<%= request.grade.issues.resources.count %>

<%= request.performance.data %>

<%= request.captures %>
-->

<div id="request-container">
      <h3 class="section-header">Recent Activity</h3>
    <!--       <div class="container-fluid">
             <div class="content">
                <div>Loading</div>
             </div>
          </div> -->
      <div class="container-fluid">
         <div class="content">
            <div class="display-selected"><span>Search</span></div>
            <div id="the-basics">
               <input class="typeahead" type="text" placeholder="Http://www.mysite.com">
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="row header">
            <div class="col-xs-4 title">Info</div>
            <div class="col-xs-2 title">Grade<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title">Performance<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title">Issues</div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div style="width:100%;">
                  <h3 class="blue-title"><%= request.url %></h3>
                  <h5 class="sub-title black" style="margin-top:0px;margin-bottom:26px !important;">Resolved: <%= request.resolveUrl %></h5>
               </div>
               <div style="clear:both"></div>
               <div style="float:left;width:50%;">
                  <h4 class="detail last"><span class="lnr lnr-clock"></span>January 5, 2016 - 9:25pm</h4>
                  <a class="button">SCAN AGAIN  <span style="margin-left:5px;" class="lnr lnr-redo"></span></a>
               </div>
               <div style="float:right;width:50%;text-align:right;    padding-top: 25px;">
                  <h4 class="detail small-links"><a>Group: <%= request.group %></a></h4>
               </div>
            </div>
            <div class="col-sm-2 chart-col" style="
               border-left: 1px dashed #efefef;
               border-right: 1px dashed #efefef;
               ">
               <div id="chart"><%= request.grade.letter %><sup><%= request.grade.symbol %></sup></div>
               <h4 class="detail last summary-statement"><%= request.grade.note %></h4>
               <h4 class="detail last"><a class="small-links">What should I do next?</a></h4>
            </div>
            <div class="col-sm-2 issue-list">
               <h3 class="blue-title second"> Issues <a class="button secondary">View</a></h3>
               <h5 class="sub-title">
                  <hr>
               </h5>
               <h4 class="detail small-links"><span style="margin-right:5px;" class="lnr lnr-link"></span><%= request.issues.links.count %> Link Issues </h4>
               <h4 class="detail small-links"><span style="margin-right:5px;" class="lnr lnr-database"></span><%= request.issues.resources.count %> Resource Issues </h4>
               <h4 class="detail small-links"><span style="margin-right:5px;" class="lnr lnr-warning"></span><%= request.issues.security.count %> Security Concern </h4>
               <h4 class="detail small-links"><span style="margin-right:5px;" class="lnr lnr-warning"></span><%= request.issues.meta.count %> Meta Data Issue </h4>
            </div>
            <div class="col-sm-2">
               <h3 class="blue-title second">Performance <a class="button secondary">View</a></h3>
               <h5 class="sub-title">
                  <hr>
               </h5>
               <%= request.performance.data %>
               <div style="width:100%;height:100px;">
                  <div style="width:20%;height:5px;background-color:red"></div>
                  <div style="margin-left:20%;width:20%;height:5px;background-color:blue"></div>
                  <div style="margin-left:45%;width:10%;height:5px;background-color:green"></div>
                  <div style="margin-left:55%;width:1%;height:5px;background-color:green"></div>
                  <div style="margin-left:56%;width:2%;height:5px;background-color:blue"></div>
                  <div style="margin-left:58%;width:1%;height:5px;background-color:orange"></div>
                  <div style="margin-left:59%;width:41%;height:5px;background-color:red"></div>
               </div>
            </div>
            <div class="col-sm-2 right-align">
               <h3 class="blue-title second">Captures <a class="button secondary">View All</a></h3>
               <h5 class="sub-title">
                  <hr>
               </h5>
               <h5 style="width:100%;clear:both" class="detail">
                  <span style="float:right;margin-top:2px"><span class="lnr lnr-smartphone"></span></span><span  style="margin-right:5px;" class="small-links"><a >Portrait</a> / <a >Landscape</a></span> <!--<span class="lnr lnr-smartphone"></span>
                     <span class="lnr lnr-smartphone icon-rotate-90"></span> -->
               </h5>
               <h5 style="width:100%;clear:both" class="detail">
                  <span style="float:right;margin-top:2px"><span class="lnr lnr-tablet"></span></span><span  style="margin-right:5px;" class="small-links"><a >Portrait</a> / <a >Landscape</a></span> <!--<span class="lnr lnr-smartphone"></span>
                     <span class="lnr lnr-smartphone icon-rotate-90"></span> -->
               </h5>
               <h5 style="width:100%;clear:both" class="detail">
                  <span style="float:right;margin-top:2px"><span class="lnr lnr-laptop"></span></span><span  style="margin-right:5px;" class="small-links"><a >Desktop</a></span> <!--<span class="lnr lnr-smartphone"></span>
                     <span class="lnr lnr-smartphone icon-rotate-90"></span> -->
               </h5>
               <h5 style="width:100%;clear:both" class="detail">
                  <span style="float:right;margin-top:2px"><span class="lnr lnr-screen"></span></span><span style="margin-right:5px;" class="small-links"><a >Wide Screen Monitor</a></span> <!--<span class="lnr lnr-smartphone"></span>
                     <span class="lnr lnr-smartphone icon-rotate-90"></span> -->
               </h5>
            </div>
         </div>
      </div>
  </div>
